<h2>{{ course.code }}</h2>

<p>{{ course.about }}</p>
<p>Дисциплина: {{ course.discipline.title }}</p>

<hr />

<h3>Темы</h3>

{% for item in topics %}
<div style="margin-bottom: 10px">
    <div>
        <a href="{% url 'topic_detail' item.topic.id %}">{{ item.topic.ordering_number }}. {{ item.topic.title }}</a>
        ({{ item.topic.duration }} ч)
    </div>

    {% if item.assignment %}
    <div>Контрольная точка</div>

        {% if item.submission %}
            {% if item.status == "graded" %}
                <div style="color: green;">
                    Баллы: {{ item.submission.score }} / {{ item.assignment.weight }}
                </div>
            {% elif item.status == "pending" %}
                <div style="color: orange;">На проверке</div>
            {% endif %}
        {% else %}
            <div style="color: gray;">Не сдано</div>
        {% endif %}
    {% endif %}
</div>
{% endfor %}
